/* ====== Navbar ====== */
.nav-link:hover {
  color: #4f6bed !important;
}

.nav-link.active {
  background-color: #4f6bed !important;
  color: white !important;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(79, 107, 237, 0.4);
}